@import "tailwindcss";

/* === Basic === */

html,
body,
:root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #588157;
  color: black;
  --font-mono: var(--font-geist-mono);
}

body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

/* === Header.jsx === */

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: #fff;
  padding: 5px;
  border-bottom: 2px solid #fff;
}

.title-logo {
  display: flex;
  align-items: center;
}

.header-logo {
  border-radius: 100px;
  width: auto;
  height: 60px;
  margin-left: 10px;
}

.header-title {
  padding-left: 30px;
  font-size: 3rem;
}

.header-nav {
  padding-right: 15px;
  font-size: 1.4rem;
}

.header-nav:hover {
  color: #588157;
}

/* === home page.js === */

.home-title {
  text-align: center;
  color: #fff;
  font-size: 2.4rem;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #fff;
  background-color: black;
  padding: 15px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.home-container {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #fff;
  background-color: black;
  color: #fff;
  border-radius: 10px;
}

.home-jar {
  border: 2px solid #fff;
  border-radius: 10px;
}

.home-text {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.7;
  margin: 20px;
}

/* === wouldyourather page.js === */

.a {
  margin-top: 15px;
}

.a-z,
.z-a {
  padding: 8px 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #fff;
  background-color: black;
  color: #fff;
  border-radius: 10px;
}

.question-container {
  border: 2px solid #fff;
  background-color: black;
  color: #fff;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 15px 15px;
  border-radius: 10px;
}

.question-text {
  display: flex;
  font-size: 1.3rem;
  text-align: center;
  justify-content: center;
}

/* === [wouldyouratherId] page.js === */

.comment-title1 {
  border: 2px solid #fff;
  background-color: black;
  color: #fff;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  text-align: center;
  font-size: 2.4rem;
  border-radius: 10px;
}

.comment-container {
  border: 2px solid #fff;
  background-color: black;
  color: #fff;
  width: 65%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
}

.comment-title2 {
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #588157;
}

.comment-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment-card ul li {
  border: 2px solid #fff;
  padding: 15px 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-size: 1.3rem;
}

.comment-delete {
  background-color: #588157;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
}

.comment-delete:hover {
  background-color: #344e41;
}

/* === form page.js === */

.form-container {
  border: 2px solid #fff;
  background-color: black;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.form-fieldset {
  border: 2px solid #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  max-width: 100%;
}

.form-legend {
  color: #fff;
  font-size: 1.7rem;
  padding: 10px;
  font-weight: bold;
}

.form-label {
  margin-top: 5px;
  color: #fff;
  font-size: 1.3rem;
}

.form-input,
.form-select,
.form-textarea {
  background-color: #333;
  color: #fff;
  border: 2px solid #588157;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 1.3rem;
  max-width: 100%;
  width: 100%;
}

.form-textarea {
  resize: vertical;
  min-height: 100px;
}

.form-button {
  background-color: #588157;
  color: black;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  width: 30%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.form-button:hover {
  background-color: #344e41;
  color: #fff;
}

/* === Footer.jsx === */

.footer-container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: #fff;
  padding: 15px 10px;
  border-top: 2px solid #fff;
  width: 100%;
}

.footer-links {
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  color: #588157;
  text-decoration: underline;
}
